.fanData /deep/ .el-form-item{
    margin-bottom: 8px !important;
}
.fanData /deep/ .el-form-item__content,.fanData /deep/ .el-form-item__label{
    line-height: 24px !important;
    color: rgba(255,255,255,0.8);
}
.fanData /deep/ .el-input__inner{
    line-height: 24px !important;
    height: 24px !important;
    background-color: rgba(52,52,57,0.8) !important;
    border: 1px solid rgba(240,240,240,0.4) !important;
    color:rgba(240,240,240,1) !important;
    font-size: 14px !important;
}